/* Light Mode Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #ffffff;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #091f40;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #c5203e 3px solid;
}

header h1 {
  padding: 5px 0;
}

nav {
  background: #091f40;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  color: #c5203e;
}

.about, .skills, .contact, .journey, .work {
  margin: 40px 0;
  color: #000;
}

.contact form {
  margin-top: 20px;
}

#weather {
  display: inline-block;
  margin-left: 20px;
  font-size: 16px;
  color: #ffffff; /* Changed to white */
}

.contact form input, .contact form textarea {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #091f40;
}

.contact form input[type="submit"] {
  background-color: #c5203e;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.contact form input[type="submit"]:hover {
  background-color: #091f40;
  border: 1px solid #c5203e;
}

img {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
}

.about img {
  float: left;
  margin-right: 20px;
}

.work h3 {
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.card:hover {
  transform: translateY(-10px);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card-content {
  padding: 20px;
}

.card-content i {
  font-size: 3em;
  margin-bottom: 20px;
}

.card-content h4 {
  margin: 0;
}

footer {
  background: #f0f0f0;
  padding: 20px 0;
  text-align: center;
}
